/* Scrollbar */
* {
	-ms-scrollbar-3dlight-color: #222222; 
	-ms-scrollbar-arrow-color: #555; 
	-ms-scrollbar-base-color: #1a1a1a; 
	-ms-scrollbar-darkshadow-color: #000; 
	-ms-scrollbar-face-color: #1a1a1a; 
	-ms-scrollbar-highlight-color: #333; 
	-ms-scrollbar-shadow-color: #000;
}

/* Elements */
body {
	margin: 0;
	font-family: Calibri;
	font-size: .9em;
	background-color: #1f1f1f;
	color: #bbb;
}

hr {
	border: 0;
}

body > div {
	clear: both;
	margin-right: 8px;
	/*max-width: 94%;*/
	word-wrap: break-word; /* Wraps links */
}

/* Generic styles */
.float-right {
	float: right;
}

.old {
	color: #777;
}

/* Containers */
.in, .out {
	border: 2px solid #050505;
	padding: 3px 6px;
	margin: 8px;
	border-radius: 2px;
	width: auto;
	position: relative;
	/*box-shadow: 2px 2px 5px #141414;*/
	/*filter:progid:DXImageTransform.Microsoft.Glow(Color=#141414,Strength=5);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#181818')";
}

.out {
	background-color: #1a1a1a;
	/* Adjust margins for alternating alignments */
	/*margin-left: 25px;*/
	/*margin-right: 15px;*/
	color: #777;
}

.in {
	background-color: #252525;
}

.status {
	margin-left: 10%;
	color: #444;
}

/* Details */

.time, .head {
	float: right;
	margin-left: 10px;
}

.old .out, .out .old, .out.old {
	color: #555;
}

.spacer {
	margin-right: 8px;
}

.time, .date, .date-time, .status {
	font-family: "hooge 05_53";
	font-size: 8px;
}

.name {
	font-weight: bold;
}

.head .name {
	position: relative;
	top: 1px;
}

/* Links */

a:link {
	text-decoration: none;
	color: #aad;
}

a:hover {
	color: #222;
	background-color: #aac;
}

.old a:link {
	color: #558;
}

.old a:hover {
	color: #222;
	background-color: #558;
}